ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 402 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php

#Disable Directory Browsing
Options All -Indexes
Options -Multiviews

<Files ~ "\.(DSISmail)$">
   order allow,deny
   deny from all
</Files>

RewriteEngine On
RewriteRule ^([^/.]+)$ $1.php [L]

RewriteRule ^download/(.*)/$ ./d-load?noSoal=$1 [L,NC]

RewriteRule ^search/(.*)/([0-9]+)/$ ./search?search=$1&page=$2 [L,NC]
RewriteRule ^search/([0-9]+)/$ ./search?page=$1 [L,NC]

RewriteRule ^soal-dan-materi/(.*)/([0-9]+)/([0-9]+)-(.*)/$ ./blog-item?category=$1&page=$2&noSoal=$3&namaSoal=$4 [L,NC]
RewriteRule ^soal-dan-materi/(.*)/([0-9]+)/$ ./sdm?category=$1&page=$2 [L,NC]

RewriteRule ^gambar/(.*)$ ./soal/cover/$1 [L,NC]

# Redirect requests that are missing www and not a subdomain
RewriteCond %{HTTP_HOST} ^mytempweb\.tk$ [NC]
RewriteRule ^(.*)$ http://www.mytempweb.tk/$1 [L,R=301]

# Redirect if requests is for a .htm, .html, or .php
RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ /([^\ ]+)\.(php|html?)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ /%2 [L,R=301]

# rewrite to the proper extension if such a file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ /$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.htm -f
RewriteRule ^(.*)$ /$1.htm [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ /$1.html [L]
